$textColor-white: #ffffff;
$textColor-black: #000000;
$textColor-gray: #D5D5D5;


$backgroundColor-gray: #F7F9F9;
$backgroundColor-gray2: #E0E2E2;
$backgroundColor-gray3: #E2E3E4;
$backgroundColor-white: #ffffff;
$backgroundColor-blue: #468FCC;
$backgroundColor-blue2:#2a73af;